.header {
  background: #F0AE89;
  height: 100px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.iconGroup {
  display: flex; 
  margin: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.userAndMag {
  display: flex;
  gap: 15px;
  margin-right: 40px;
}

.group {
  display: flex;
  align-items: center;
}